<html ng-app="MyModule">
<head>
	
	<link rel="stylesheet" href="css/libs/bootstrap/bootstrap.min.css">
	
	<link rel="stylesheet" href="custom.css">
	
	<script src="js/libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="js/libs/bootstrap/bootstrap.min.js"></script>
	
</head>
<body ng-controller="MyController">
	<div class="row" >
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-12 navbar-fixed-top">
				<a type="button" class="btn btn-primary" ladda="busy" ng-click="loadMore()">Add more</a>
			</div>
			<div class="col-md-12 mg-t30">
				<div masonry infinite-scroll="loadMore()" infinite-scroll-disabled="busy">
					<div class="masonry-brick" ng-repeat="item in items | limitTo: numlimit">
						<img ng-src="{{item.picture }}">
						<div >{{item.name}}</div>
						<div >{{item.age}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	<script src="js/libs/angular/angular.min.js"></script>
	<script src="js/angular-masonry.js"></script>
	<script src="index.js"></script>
</body>
</html>